
// Dark Theme
$dark-background-color: #111827;
$dark-primary-text-color: #F3F4F6;
$dark-muted-text-color: #A2AEC4;
$dark-background-solid-color: #38415E;
$dark-btn-primary-color: #2E98E4;
$dark-link-text-color: #41B8F4;

//Light theme
$light-background-color: #E0E0E0;
$light-primary-text-color: #3D3D3D;
$light-muted-text-color: #757575;
$light-background-solid-color: #FBFBFB;
$light-btn-primary-color: #2E98E4;
$light-link-text-color: #41B8F4;
